.App {
  text-align: center;
}

body {
  color: grey;
}

.container-fluid {
  padding-right: 0;
  margin-right: 15px;
}

.row {
  padding-right: 0;
  margin-right: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.back-first-column {
  background-color: #fafafa;
}

.logo-img {
  width: 50%;
}

.input-container {
  padding-top: 15px;
}

.input-size {
  width: 100%;
}

h3 {
  font-size: 12px;
}

a {
  color: #e69635! important;
}

.nav-item:hover{
  background-color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

ul {
  border-top: solid 1px lightgray;
  padding-top: 10px;
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
}

.iframe {
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
